#upersec {

width: 100%;
height: 500px;
background-color: #ECF1EF;	

}

.trans{

	margin-right: 400px;
}

#middlesec{
	
width: 100%;
height: 500px;
background-color: #F1EDC2;
}

#bottomsec{
	
width: 100%;
height: 500px;
background-color: #FFD39B;
}

footer{
width: 100%;
height: 50px;
background-color: #53868B;
}
img{

	float: right;
}

#sahara{

	float: left;
}

#slider{
	width: 100%;
	height: 500px;
	background-color: #98F5FF;
}

h3{

	padding-left: 2px;
}

p{

	padding-left: 2px;
}

ul li{

	display: inline;
	
    
}
